extends layouts/layout.pug

block title
	title Kino Uppsala - #{singleMovie.title}

block content 
		div(class=movie)
			article
				if singleMovie.image 
					img(src=singleMovie.image, alt=singleMovie.title, width="300")
				else 
					p No image available.
			h2 #{singleMovie.title}
			p !{singleMovie.intro}
		section.movies
			ul.movies__list
			.movies__actions
				a.movies__actions-bookTicket(href="#" aria-label="Book moive tickets now") BOKA BILJETT
				a.movies__actions-seeAll(href="/movies" aria-label="See all movies") SE ALLA FILMER